@import '../utils/variables.scss';

.card {
  position: relative;
  width: auto;
  height: 340px;
  border-radius: $small-border-radius;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.45);
  transition: transform 0.5s;

  &:hover {
    transform: scale(1.05);
  }

  &__cover {
    @include full-size-cover;
    z-index: 0;
  }

  &__overlay {
    @include full-size;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(0, 0, 0, 0.5) 100%
    );
    z-index: 1;
  }

  &__title {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 300px;
    height: 52px;
    color: $color-white;
    font-weight: 500;
    padding: 20px;
    z-index: 2;

    display: flex;
    align-items: center;
  }

  @media screen and (max-width: $mobile) {
    height: 225px;
  }
}
