@import '../utils/variables.scss';

.active-rent__rating {
  display: flex;
  align-items: center;
  gap: 15px;

  & img {
    width: 36px;
    height: 36px;
  }

  @media screen and (max-width: $mobile) {
    gap: 10px;

    & img {
      width: 18px;
      height: 18px;
    }
  }
}
