@import '../utils/variables.scss';

.about {
  margin: $default-margin;

  &__content {
    display: flex;
    flex-direction: column;
    margin: 38px 108px;
    gap: 20px;
  }

  @media screen and (max-width: $desktop) {
    &__content {
      margin: 38px 0;
    }
  }

  @media screen and (max-width: $mobile) {
    margin:$default-mobile-margin;
  }
}
