@import '../components/card.scss';
@import '../components/banner.scss';
@import '../utils/variables.scss';

.home {
  margin: $default-margin;

  .home__gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
    row-gap: $default-gap;
    column-gap: 60px;
    margin-bottom: $default-margin-bottom;
    background: $secondary-color;
    border-radius: 25px;
    padding: 56px 50px 43px;
  }

  @media (min-width: $sml-mobile) and (max-width: $desktop) {
    margin: 0 20px;

    .home__gallery {
      display: flex;
      flex-direction: column;
      padding: 0;
      row-gap: 20px;
      margin-bottom: 27px;
      background: none;
    }
  }
}
