.footer {
  display: flex;
  height: 209px;
  max-width: auto;
  justify-content: center;
  align-items: center;
  background-color: $footer-background;
  color: white;
  overflow: hidden;
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 114px;
    font-size: 24px;
    padding: 66px 464px 29px 463px;
    flex-shrink: 0;
  }
  &__logo {
    width: 122px;
    height: 39px;
  }
}
