@import 'reset.scss';
@import 'variables.scss';
@import 'header.scss';
@import 'footer.scss';



body {
  max-width: 1440px;
  margin: auto;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  background-color: #fff;
}
